<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link href="scripts/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

</head>

<body ng-app="blockioApp" ng-controller="homeCtrl">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #00365b;">
        <a class="navbar-brand" href="#">Bitcoin Wallet</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron" style="height: auto;">
        <div class="container">

            <h2 class="display-3">Send Bitcoin!</h2>
            <br>
            <p>
                <div class="form-inline">
                    <div class="form-group mx-sm-6" style="width: 450px;">
                        <label for="inputPassword2" class="sr-only">Address</label>
                        <input style="width: 500px;" type="text" class="form-control" ng-model="toAddress" placeholder="To Address">
                    </div>
                    <div class="form-group mx-sm-3">
                        <label for="inputPassword2" class="sr-only">Amount</label>
                        <input type="text" class="form-control" ng-model="amount" placeholder="Amount">
                    </div>
                    <button type="button" class="btn btn-primary" ng-click="sendBitcoin()">Send</button>
                </div>
            </p>

            <br>
            <p>{{txMessage}}</p>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Blocks</h4>
                            <p class="card-text">{{blocks}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Balance</h4>
                            <p class="card-text">{{balance}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Difficulty</h4>
                            <p class="card-text">{{difficulty}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Relayfee</h4>
                            <p class="card-text">{{relayfee}}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <br>
        <br>

        <div class="container">
            <button type="button" class="btn btn-primary" ng-click="getnewaddress()">Create Address</button>
            <button type="button" class="btn btn-primary" ng-click="getAllAddress()">Refresh</button>
            <p>{{a}}</p>
            <table class="table table-striped">
                <tbody>
                    <tr ng-repeat="x in address">
                        <th>{{$index + 1}}</th>
                        <td>{{x.address}}</td>
                        <td>{{x.balance}} BTC</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>


    <div class="container">
        <hr>
        <footer>
            <p>&copy; Company 2017</p>
        </footer>
    </div>
    <!-- /container -->

    <script src="/scripts/angular/angular.min.js"></script>
    <script src="/scripts/jquery/dist/jquery.min.js"></script>
    <script src="scripts/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="/javascripts/app.js"></script>
</body>

</html>